<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdL7IYcuNnKTPPM-6VoQjmWtmYKPiYgYE</string>
	<key>GCM_SENDER_ID</key>
	<string>421108384902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-f6098</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f6098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421108384902:ios:3fad139fca231ef42b3d07</string>
</dict>
</plist>